body {
  background: #f9f7fe;
}

form {
  display: flex;
  justify-content: center;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

h1 {
  color: #ff6584;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 44px;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

li {
  font-family: arial;
  list-style: none;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  color: rgba(39, 33, 66, 0.58);
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  text-align: center;
}

a {
  color: #885df1;
}

.container {
  background: white;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  display: block;
  margin: 30px auto;
  max-width: 600px;
  padding: 50px 30px;
}

.search-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.7);
  font-size: 16px;
  padding: 15px;
  display: block;
  width: 75%;
}

.search-button {
  background-color: #885df1;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
  padding: 15px;
  display: block;
  width: 20%;
}

.current-date {
  font-family: arial;
  font-size: 16px;
  padding: 0;
}

.current-weather {
  text-align: center;
}

#current-weather-emoji {
  font-size: 48px;
}

#current-temperature {
  font-family: arial;
  font-size: 100px;
  font-weight: bold;
}

#temperature-unit {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
}

.current-details {
  display: flex;
  font-family: arial;
  font-size: 16px;
  justify-content: space-around;
  padding: 20px 0;
}

.current-condition {
  padding: 40px;
}

.current-humidity {
  padding: 40px;
}

.current-wind {
  padding: 40px;
}
