body {
  background: #f9f7fe;
}

form {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  padding: 20px 15px;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

h1 {
  color: #ff6584;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  margin-left: -2px;
  margin-top: -15px;
}

ul {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

li {
  font-family: arial;
  list-style: none;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  color: rgba(39, 33, 66, 0.6);
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  text-align: center;
}

a {
  color: #ff6584;
}

.image-container {
  background-image: url("media/window-blue.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  display: block;
  margin: 30px auto;
  max-width: 600px;
  padding: 50px 30px;
}

.text-container {
  background-color: rgba(255, 255, 255, 0.361);
  background-position: center;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 98%;
  padding: 30px;
}
.search-input {
  background-color: #fef7fa;
  border: none;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.8);
  font-size: 16px;
  padding: 15px;
  display: block;
  width: 75%;
}

.search-button {
  background-color: #ff6584;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
  padding: 15px;
  display: block;
  width: 20%;
}

.current-date {
  font-family: arial;
  font-size: 20px;
  padding: 0;
}

.current-city-and-weather {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.current-weather {
  display: flex;
  justify-content: space-around;
}

.current-weather-emoji {
  font-size: 44px;
  margin-left: 120px;
  margin-top: -5px;
}

.current-temperature {
  font-family: arial;
  font-size: 100px;
  font-weight: bold;
  margin-top: -40px;
}

.temperature-unit {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  margin-top: -25px;
}

.current-details {
  font-family: arial;
  font-size: 16px;
  padding: 20px 0;
}

.current-condition {
  font-family: arial;
  font-size: 16px;
}

.current-humidity {
  font-weight: bold;
  color: #ff6584;
}

.current-wind {
  font-weight: bold;
  color: #ff6584;
}
