body {
  background: #f9f7fe;
}

form {
  border-radius: 6px;
  display: flex;
  justify-content: center;
  padding: 30px 15px;
}

header {
  border-bottom: 1px solid #f9f7fe;
}

h1 {
  color: #ff6584;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 48px;
  margin: 0 0 0 -2px;
}

p {
  margin: 40px 0 40px 0;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  color: rgba(39, 33, 66, 0.6);
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  text-align: center;
}

a {
  color: #ff6584;
}

.image-container {
  background-image: url("media/window-blue.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 110%;
  border-radius: 10px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  display: block;
  margin: 30px auto;
  max-width: 600px;
  padding: 35px 35px;
}

.text-container {
  background-color: rgba(255, 255, 255, 0.5);
  background-position: center;
  border-radius: 10px;
  margin: 0 auto;
  max-width: 98%;
  padding: 30px;
}

.search-input {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 6px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  color: rgba(39, 33, 66, 0.9);
  font-size: 16px;
  padding: 15px;
  display: block;
  width: 75%;
}

.search-button {
  background-color: #ff6584;
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 16px;
  margin-left: 10px;
  padding: 15px;
  display: block;
  width: 20%;
}

.search-button:hover {
  cursor: pointer;
}

.current-date {
  font-family: arial;
  font-size: 20px;
  padding: 30px 0 0 0;
}

.current-city-and-weather {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.current-weather {
  display: flex;
  justify-content: space-around;
}

.current-weather-emoji {
  width: 88px;
  height: 88px;
  margin-left: 10px;
  margin-top: 25px;
}

.current-temperature {
  font-family: arial;
  font-size: 94px;
  font-weight: bold;
  margin-left: 5px;
  margin-top: 35px;
}

.temperature-unit {
  font-family: arial;
  font-size: 32px;
  font-weight: bold;
  margin-left: 3px;
  margin-top: 48px;
}

.current-details {
  font-family: arial;
  font-size: 16px;
}

.current-condition {
  font-family: arial;
  font-size: 16px;
}

.current-humidity {
  font-weight: bold;
  color: #ff6584;
}

.current-wind {
  font-weight: bold;
  color: #ff6584;
}

.weather-forecast {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 10px;
  display: flex;
  font-family: arial;
  justify-content: space-around;
  margin: 48px 0 30px 0;
  padding: 15px;
}

.weather-forecast-date {
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-size: 16px;
  opacity: 0.8;
  text-align: center;
}

.weather-forecast-icon {
  display: block;
}

.weather-forecast-temperatures {
  color: #ff6584;
  display: block;
  font-size: 13px;
  text-align: center;
}

.min-temperature {
  opacity: 0.7;
}
